<main>
  <div class="wrapper">
    <sgi-navbar [small]="true"></sgi-navbar>
    <h1>Search</h1>
    <div>
      <form style="width: 800px">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter your search terms here.">
          <div class="input-group-append">
            <span class="input-group-text bg-info" style="margin-left: 10px"><i class="bi-search"></i></span>
          </div>
        </div>
      </form>
    </div>
    <div class="stinger">
      <div class="rate">
        <p>Don't forget to<br/><strong>RATE</strong> this item.</p>
        <img ngSrc="assets/products/bracelet.png" width="100" height="100" alt="Bracelet">
      </div>
      <div class="whats-new">
        <p>What's <strong>NEW</strong>?</p>
        <img ngSrc="assets/products/lip-balm.png" width="100" height="100" alt="Lip Balm">
      </div>
    </div>
  </div>
</main>
<sgi-footer></sgi-footer>
